body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1, h2, h3, a {
    font-weight: bold;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

p {
    line-height: 2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    width: 4%;
    border-color: grey;
    margin: 50px auto;
    clear: left;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.top-container h2 {
    font-weight: normal;
}

.middle-container {
    margin: 100px 0;
}

.profile p {
    margin: auto;
    width: 50%;
}


.profile img {
    border-radius: 100%;
    width: 20%;
    height: 20%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
} 

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    position: relative;
    padding-bottom: 10px;
}

.code-img, .transcriber-img, .viola-img {
    width: 20%;
    height: 20%;
}

.code-img {
    float: left;
    margin-right: 30px;
}

.transcriber-img {
    float: right;
}

.viola-img {
    float: left;
}

.bottom-container {
    background: #11cdd4;
    padding: 50px 0 20px;
    background: -moz-linear-gradient(top, #11cdd4, #11999e);
    background:-ms-linear-gradient(top, #11cdd4, #11999e);
    bacgkround: -o-linear-gradient (top, #11cdd4, #11999e);
    background: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background: linear-gradient(to bottom, #11cdd4, #11999e);
}

.btn {
    text-decoration: none;
    color: white;
    background: #11cdd4;
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image:-ms-linear-gradient(top, #11cdd4, #11999e);
    bacgkround-image: -o-linear-gradient (top, #11cdd4, #11999e);
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    border-radius: 8px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    bacgkround-image: -o-linear-gradient (top, #30e3cb, #2bc4ad);
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
}

.contact-message {
    margin: 40px auto;
}

.copyright {
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 20px 0;
    
}
